{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
   
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
                 <h1>Insta Clone by Kyle</h1>
                 <br>
            <p>This web app has user authentication and authorization. Users can create, edit/update, like/dislike, and delete posts. 
                This code is based on a previous mini project I made about a year ago.
                <br><br>
                Limitations: Users cannot see other users' posts or interact with them. No images.
                
            </p>
            <br>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}
